@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0;
    height: 0;
}
  
/* Track */   
::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1e8cc7;
}
  
::-moz-selection {
    /* Code for Firefox */
    color: #2f6db3;
    background: rgba(188, 221, 239, 0.9);
}
  
::selection {
    color: #2f6db3;
    background: rgba(188, 221, 239, 0.9);
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('/fonts/ClashDisplay/ClashDisplay-Variable.woff2') format('woff2'),
         url('/fonts/ClashDisplay/ClashDisplay-Variable.woff') format('woff'),
         url('/fonts/ClashDisplay/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Switzer';
    src: url('/fonts/Switzer/Switzer-Variable.woff2') format('woff2'),
         url('/fonts/Switzer/Switzer-Variable.woff') format('woff'),
         url('/fonts/Switzer/Switzer-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

.hero-text {
    font-family: 'ClashDisplay', sans-serif;
}

@keyframes pulse-dot {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.header-status::before {
    animation: pulse-dot 2s infinite;
}

.available.header-status::before  {
    background: #16B943;
}

.unavailable.header-status::before  {
    background: #D6374A;
}